In [28]:
import pandas as pd
import numpy as np

In [29]:
pokemons = {
    "Pokemon_Height" : np.random.randint(1,100,5),
    "Pokemon_Weight" : np.random.randint(50 , 150 , 5),
    "Pokemon_Power" : np.random.randint(200 , 250 , 5)
}

In [30]:
pokemons

{'Pokemon_Height': array([28, 32, 94,  9, 76]),
 'Pokemon_Weight': array([128,  73,  64, 121, 132]),
 'Pokemon_Power': array([221, 202, 242, 222, 224])}

In [31]:
df = pd.DataFrame(pokemons)
print(df)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              28             128            221
1              32              73            202
2              94              64            242
3               9             121            222
4              76             132            224

In [32]:
 df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              28             128            221
1              32              73            202
2              94              64            242
3               9             121            222
4              76             132            224

In [33]:
df.tail(2)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
3               9             121            222
4              76             132            224

In [34]:
df.columns

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [35]:
# Create a CSV file
df.to_csv('pokemon1_data.csv')

In [36]:
# read a data frame
df1 = pd.read_csv('pokemon1_data.csv')

In [37]:
df1.head()

   Unnamed: 0  Pokemon_Height  Pokemon_Weight  Pokemon_Power
0           0              28             128            221
1           1              32              73            202
2           2              94              64            242
3           3               9             121            222
4           4              76             132            224

In [38]:
df1.drop(columns = ['Unnamed: 0'])

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              28             128            221
1              32              73            202
2              94              64            242
3               9             121            222
4              76             132            224

In [40]:
df1.shape

(5, 4)

In [42]:
df.to_csv('pokemon2_data.csv' , index = False)